h4, .h4 {
    font-size: 18px !important;
    margin-top: 30px !important;
}
img {
    max-width: 100%;
}
.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-image: url('https://s3.amazonaws.com/stwo/bg-registration-form-2.jpg')
}

.inner {
    min-width: 850px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;
    background: url("https://s3.amazonaws.com/stwo/registration-form-2.png");
}

.inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
}

custom-container {
    width: 50%;
    padding-left: 45px;
}

.form-wrapper {
    width: 50%;
    padding: 50px;
    margin-bottom: 17px;
}

.form-wrapper:first-child {
    margin-right: 20px;
}

.form-wrapper label {
    margin-bottom: 9px;
    display: block;
}

button.btn.btn-primary {
    width: 100% !important;
    background: #e6aa67 !important;
    border-color: #e6aa67 !important;
    color: #001526 !important;
}

.signout-span {
   margin-top: 50px;
}

.signout-span span{
    text-align: center;
}

.signout-span button.btn.btn-primary {
    width: 40% !important;
}

@media (max-width: 991px) {
    .inner {
        min-width: 768px; } }
@media (max-width: 767px) {
    .inner {
        min-width: auto;
        background: none;
        padding-top: 0;
        padding-bottom: 0; }

    .custom-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
